<div class="mainBody">
  <div class="container ">
    <div class="row">
      <div class="col-12 text-center mb-3">
        <h2>Contact Us</h2>
        <p class="lead">
          <b>Address Details:</b>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-12 mb-3">
        <div class="card">
          <div class="card-body">
            <div class="contact-media">
            <span class="material-symbols-outlined">
              location_on
            </span>
              <span>Quality Traders Ltd, Unit 7, French's Farm, Wigley Bush Lane, Brentwood, CM14 5QP.</span>
            </div>
            <div class="contact-media">
            <span class="material-symbols-outlined">
              phone_in_talk
            </span>
              <a href="tel:+01708764022">01708764022</a>,  <a href="tel:+07424027442">07424027442</a>
            </div>
            <div class="contact-media">
            <span class="material-symbols-outlined">
                  Email
            </span>
              <a href="sales@qtpack.co.uk">sales@qtpack.co.uk</a>
            </div>
            <div class="contact-media">
            <span class="material-symbols-outlined">
              timer_3_alt_1
            </span>

              <div>
                <span> Monday-Friday</span><span> 9am to 5.30pm</span><br/>
                <span> Saturday-Sunday</span><span> Closed </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
