<main class="mainBody">
  <!--  Register Page UI-->
  <div class="container">
    <div class="row">
      <div class="col d-flex justify-content-center">
        <div class="register-page">
          <div class="registerContainer">
            <div class="form-container sign-in-container">
              <div class="flex justify-content-center">
                {{msg}}
              </div>
              <form [formGroup]="resetPasswordForm" (ngSubmit)="onResetPasswordSubmit()" novalidate>
                <h2>Reset Password</h2>
                <input class="login-input" type="password" placeholder="Password" formControlName="password">
                <div class="invalid-feedback" *ngIf="resetPasswordForm.controls['password'].invalid && (resetPasswordForm.controls['password'].dirty || resetPasswordForm.controls['password'].touched)" class="alert text-danger">
                  <div *ngIf="resetPasswordForm.controls['password'].errors">
                    Password is required. (5-50) Characters
                  </div>
                </div>
                <input class="login-input" type="password" placeholder="Confirm Password" formControlName="confirmPassword">
                <div class="invalid-feedback" *ngIf="resetPasswordForm.controls['confirmPassword'].invalid && (resetPasswordForm.controls['confirmPassword'].dirty || resetPasswordForm.controls['confirmPassword'].touched)" class="alert text-danger">
                  <div *ngIf="resetPasswordForm.controls['confirmPassword'].errors">
                    Confirm password is required. (5-50) Characters
                  </div>
                </div>
                <button class="btn btn-primary" [disabled]="!this.resetPasswordForm.valid">Reset Password</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--  Register Page UI-->
</main>
