<div class="container ">
  <div class="row">
    <div class="col-12 text-center mb-3">
      <h2>About Us</h2>
      <p class="lead">
        Our motto: ''Once our customer, always our customer''
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-12 mb-3">
      <div class="card">
        <div class="card-body">
          QTPack is an emerging name in a fast growing market.Our range of products has been growing steadily to cater for the needs of our customer coming from different trade areas.Our aim is to establish our name as one of the leading packaging brands. We plan to achieve this by providing a comprehensive range of excellent quality products at competitive prices and by offering a friendly, efficient customer Services.
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card mb-3">
        <div class="card-body">
          <p>
            We welcome customers from all walks of life ,whether domestic or trade users and every order is eqaully valuable for us . We always strive to go extra mile to provide our customers a hassle-free and secure experience so that they feel comfortable to return to us and to recommend us to others. A rapidly increasing and loyal customer base is a proff that we are doing right.
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card mb-3">
        <div class="card-body">
          <p>
            Please get in touch with our friendly team to discuss all your packaging needs we will look to offer you a customised services to ensure all your needs are catered for.
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card mb-3">
        <div class="card-body">
          <p>
            Our low ,low prices and friendly customer services are not exclusive to our online customers .We are located on FOLESHILL Road,Coventry and you are always welcome to drop by for a few minutes to discuss any packaging requirements face to face.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
