<div class="container ">
  <div class="row">
    <div class="col-12 text-center mb-3">
      <h2>Privacy Policy</h2>
      <p class="lead">
        Our Privacy Policy gives you detailed information on what we collect, how we use it and how we keep it secure.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-12 mb-3">
      <div class="card">
        <div class="card-body">
          <p>
            Generally, we collect your information whenever you decide to interact with us. This could include when you do some of the following:<br/>
            - Register on our site or create an account<br/>
            - Place an order<br/>
            - Sign up for for our newsletters
          </p>
          <b>
            What information do we collect and how?
          </b>
          <ul>
            <li>We only collect the information that's necessary to ship the orders received via website.</li>
          </ul>
          <b>
            Information we obtain directly from you:
          </b>
          <ul>
            <li>When you sign up to our newsletter, create an account with us or place an order online, we need to collect following information to process orders</li>
            <li>First and last name</li>
            <li>Email address</li>
            <li>Delivery address</li>
            <li>Billing address</li>
            <li>Phone number</li>
          </ul>
          <p>
            ** We do not store any payment card details on our website. All payments are directly processed by the merchant bank.
          </p>
          <b>
            How do we protect your information?
          </b>
          <ul>
            <li>As an ethical Business, we will never share, sell, rent or trade your personally identifiable information to any third parties without your prior consent.</li>
            <li>
              Your personal information is contained behind secured networks and is only accessible by a limited number of people who have special access rights to such systems.
            </li>
          </ul>
         <p>
          It is sometimes necessary for us to allow external parties access to your data in order to perform services on our behalf. We make sure anyone who provides a service for QTPack enters into an agreement with us and meets our standards for data security. They will not use your data for anything other than the clearly defined purpose relating to the service that they are providing.
         </p>
         <b>We may share your details with:</b>
         <ul>
          <li>Service providers who work on behalf of QTPack for the performance of any contract we enter into with them or you, for example payment processing, courier and mail delivery providers, marketing agencies, website hosting or email delivery service</li>
          <li>Third party advertisers (such as Facebook or Google) to help us identify customers similar to our audience or to serve relevant adverts to you on third party websites.</li>
         </ul>

         <p>Despite all our precautions, no data transmission over the internet is 100% secure. So, we cannot guarantee the security of any information which you disclose to us and so wish to draw your attention to the fact that you do so at your own risk.</p>
         <b>Changes to our policy</b>
         <p>If we decide to change our privacy policy, we will post those changes on this page. We may also inform you of any changes where we hold an appropriate email address for you.</p>
        <p>Company and Contact Details</p>
        <b>QTPack  Address :</b>
        <p>Unit 7, French's Farm, Wigley Bush Lane, Brentwood, CM14 5QP</p>
        <span>Call  01708764022, 07424027442  (lines open <b>9am-5:30pm Mon-Fri</b>) or email us using <b>sales@qtpack.co.uk</b></span>
        </div>
      </div>
    </div>
  </div>
</div>
