<div class="container ">
  <div class="row">
    <div class="col-12 text-center mb-3">
      <h2>Payment</h2>
      <p class="lead">
        We accept all major debit and credit cards as well as payments via PayPal for all online orders. You can also make payment by BACS, please call us on  01708764022, 07424027442  or <b>email us on sales@qtpack.co.uk</b>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-12 mb-3">
      <div class="card">
        <div class="card-body">
          <p>
            During checkout, you can choose to create an online account with ourselves and pay with debit/credit card, or via PayPal. Alternatively, you can simply order via the two-step PayPal express checkout option.
          </p>
          <p>
            We recommend creating an online account with ourselves and checking out via your account, as you are then able to log in to your account at any time and check your order history, as well as repeat previous orders.
          </p>
         <p>
          To place an order, simply choose the items you desire and add them to your basket. Once you have all the packaging products you need, click onto your basket which displays your order, delivery price and total amount payable. Note that all orders over £75 (exc VAT) qualify for free next working day delivery.
         </p>
         <p>
          For any queries please contact our customer service team on  01708764022  , 07424027442 .
         </p>
        </div>
      </div>
    </div>
  </div>
</div>
