<div class="container ">
  <div class="row">
    <div class="col-12 text-center mb-3">
      <h2>Delivery Services & Cost</h2>
      <p class="lead">
        All orders placed by 3pm are dispatched on the same day, using a next working day delivery service (Monday - Friday). Free next working day delivery applies within mainland UK on all orders over £ 75 (exc VAT). For orders less than £ 75, a next working day courier service is used at a cost of £ 4.99+VAT.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-12 mb-3">
      <div class="card">
        <div class="card-body">
          <p>
            We use DHL UK , DPD, Yodel, DX Courier, Tuffnells and DX Freight for our courier deliveries, depending on the items in your order.
          </p>
          <p>
            Please note that weekends & bank holidays are not considered to be working days. If your order is received before 3pm Monday to Thursday, the goods will be dispatched on the same day as your order for delivery on the following working day. Orders received before 3pm on Friday will be dispatched on Friday for delivery on the following Monday. Orders received after 3pm on Friday will be dispatched on the following Monday, using a next working day delivery service.
          </p>
          <p>
            All prices quoted on our site, and all amounts set above, are exclusive of VAT at 20%.
          </p>
          <p>
            Please note that surcharges apply on all courier deliveries outside mainland UK, and next working day delivery is not applicable to deliveries outside mainland UK. For courier purposes, the following destinations are considered as outside mainland UK: Scottish Highlands, Northern Ireland, Southern Ireland, Channel Islands, Isle of Wight, Isle of Man, Scilly Isles. The postcodes that fall within these areas are: All IV, All KW, PA20-PA78, KA27-KA28, PH4 - PH50, All HS, All ZE, All IM, All BT. Please call or email us for a quote on delivery if your postcode falls into one of these.
          </p>
          <b>
            We also offer upgraded deliveries such as :
          </b>
          <ul>
            <li>Next day before 9:30am</li>
            <li>Next day by noon</li>
            <li>Saturday Delivery</li>
          </ul>
          <p>
            If you would like a quote for any of the upgraded delivery options, please call us on 01708764022,  07424027442
          </p>
          <p>
            If you are unhappy with a stocked item you have ordered, you may return it for a full refund, credit or exchange within 30 days of purchase. Just call our Customer Service team on 01708764022,  07424027442, who will issue you with a returns authorisation.
          </p>
          <p>
            We take great care to ensure our products reach our customers in good condition. However, in the event that you receive a damaged or defective product please call our customer Service team on 01708764022,  07424027442. We will arrange a collection and credit, exchange or refund at no extra cost to you.
          </p>
          <p>
            Please note that any non-stocked item such as Custom printed tape can not be returned once your order has been confirmed. If you have a problem with a non-stock item please call our Customer Service team on 01708764022,  07424027442
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
