<div class="container ">
  <div class="row">
    <div class="col-12 text-center mb-3">
      <h2>Returns & Exchanges</h2>
      <p class="lead">
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-12 mb-3">
      <div class="card">
        <div class="card-body">
          <p>
            If you are unhappy with a stocked item you have ordered, you may return it for a full refund, credit or exchange within 30 days of purchase. Please simply call our Customer Service team on 01708764022,  07424027442, who will issue you with a returns authorisation.
          </p>
          <p>
            We take great care to ensure our products reach our customers in good condition. However, in the event that you receive a damaged or defective product please call our customer Service team on 01708764022,  07424027442. They will arrange a collection and credit, exchange or refund at no extra cost to you.
        </p>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card mb-3">
        <div class="card-body">
          <p>
            Please note that any non-stocked item such as Custom printed tape can not be returned once your order has been confirmed. If you have a problem with a non-stock item please call our Customer Service team on 01708764022,  07424027442.          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card mb-3">
        <div class="card-body">
          <p>
            Please get in touch with our friendly team to discuss all your packaging needs we will look to offer you a customised services to ensure all your needs are catered for.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Privacy Policy page-->

<div class="container ">
  <div class="row">
    <div class="col-12 text-center mb-3">
      <h2>Privacy Policy</h2>
      <p class="lead">
        Our Privacy Policy gives you detailed information on what we collect, how we use it and how we keep it secure.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-12 mb-3">
      <div class="card">
        <div class="card-body">
          <p>
            Generally, we collect your information whenever you decide to interact with us. This could include when you do some of the following:
          </p>
          <ul>
            <li>
              Register on our site or create an account
            </li>
            <li>
              Place an order
            </li>
            <li>
              Sign up for for our newsletters
            </li>
          </ul>

          <p>
            What information do we collect and how?
          </p>
          <p>
            We only collect the information that's necessary to ship the orders received via website.
          </p>
          <p>
            <b>
              Information we obtain directly from you:
            </b>
          </p>
          <p>
            When you sign up to our newsletter, create an account with us or place an order online, we need to collect following information to process orders
          </p>
          <ul>
            <li>First and last name</li>
            <li>Email address
            </li>
            <li>Delivery address
            </li>
            <li>Billing address
            </li>
            <li>Phone number
            </li>
          </ul>

          <p>
            <i>
              ** We do not store any payment card details on our website. All payments are directly processed by the merchant bank.
            </i>
          </p>
          <p>
            <b>
              How do we protect your information?
            </b>
          </p>
          <p>
            As an ethical Business, we will never share, sell, rent or trade your personally identifiable information to any third parties without your prior consent.
          </p>
          <p>
            Your personal information is contained behind secured networks and is only accessible by a limited number of people who have special access rights to such systems.
          </p>
          <p>
            It is sometimes necessary for us to allow external parties access to your data in order to perform services on our behalf. We make sure anyone who provides a service for QTPack enters into an agreement with us and meets our standards for data security. They will not use your data for anything other than the clearly defined purpose relating to the service that they are providing.
          </p>
          <p>
            <b>
              We may share your details with:
            </b>
          </p>
          <p>
            Service providers who work on behalf of QTPack for the performance of any contract we enter into with them or you, for example payment processing, courier and mail delivery providers, marketing agencies, website hosting or email delivery service
          </p>
          <p>
            Third party advertisers (such as Facebook or Google) to help us identify customers similar to our audience or to serve relevant adverts to you on third party websites.
          </p>
          <p>
            Despite all our precautions, no data transmission over the internet is 100% secure. So, we cannot guarantee the security of any information which you disclose to us and so wish to draw your attention to the fact that you do so at your own risk.
          </p>
          <p>
            <b>
              Changes to our policy
            </b>
          </p>
          <p>
            If we decide to change our privacy policy, we will post those changes on this page. We may also inform you of any changes where we hold an appropriate email address for you.
          </p>
          <p>
            <b>
              Company and Contact Details
            </b>
          </p>
          <p>
            QTPack  The company is registered in England, with registered offices at: Quality Traders Ltd, Unit 7, French's Farm, Wigley Bush Lane, Brentwood, CM14 5QP or email us using sales@qtpack.co.uk
          </p>
        </div>
      </div>
    </div>
  </div>
</div>



